@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', sans-serif;
}

/* styles/globals.css */
.toggle-checkbox {
  appearance: none;
  width: 40px;
  height: 20px;
  background-color: #ddd;
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s;
}

.toggle-checkbox:checked {
  background-color: rgba(128, 128, 128, 0.701);
}

.toggle-checkbox::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  transition: transform 0.2s;
}

.toggle-checkbox:checked::before {
  transform: translateX(20px);
}




